
/*GLOBAL*/

/*DESKTOP*/
@media(min-width: 1001px){

    .subtitulo-2{
        font-size: 3rem;
        line-height: 3.3rem;
    }
    .tamanhoP{
        font-size: 1.5rem;
        line-height: 1.7rem ;
    }
    .cardT{
    width: 120px;
    height: 120px; 
    background: #FFFFFF;
    }
    .bg-style{
        border-radius: 10px;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .Inst1{
        background-image: url("../img/desktop/fase1/0.png");
    }
    .Inst2{
        background-image: url("../img/desktop/fase2/8.png");
    }
    .Inst3{
        background-image: url("../img/desktop/fase3/0.png");
    }
    .btn-position{
        top: 9.375rem;
    }   
}
/*TABLET*/
@media(min-width: 600px) and (max-width: 1000px){
    .subtitulo-2{
        font-size: 3rem;
        line-height: 3.3rem;
    }
    .tamanhoP{
        font-size: 1.5rem;
        line-height: 1.7rem ;
    }
    .cardT{
    width: 120px;
    height: 120px; 
    background: #FFFFFF;
    }

    .btn-position{
        top: 9.375rem;
    } 
    .bg-style{
        border-radius: 10px;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .Inst1{
        background-image: url("../img/desktop/fase1/0.png");
    }
    .Inst2{
        background-image: url("../img/desktop/fase2/8.png");
    }
    .Inst3{
        background-image: url("../img/desktop/fase3/0.png");
    }
}
/*MOBILE*/
@media(max-width: 599px){ 
    .subtitulo-2{
        font-size: 3rem;
        line-height: 3.3rem;
    }
    .tamanhoP{
        font-size: 1.5rem;
        line-height: 1.7rem ;
    }
    .cardT{
    width: 120px;
    height: 120px; 
    background: #FFFFFF;
    }
    .bg-style{
        border-radius: 10px;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }
    .Inst1{
        background-image: url("../img/mobile/fase1/0.png");
    }
    .Inst2{
        background-image: url("../img/mobile/fase2/8.png");
    }
    .Inst3{
        background-image: url("../img/mobile/fase3/0.png");
    }

    .btn-position{
        top: 9.375rem;
    } 
    
}