/*animações*/
@keyframes fadeIn {
    0% { opacity: 1; }
    20% { opacity: 1;}
    40% { opacity: 0.8;}
    60% { opacity: 0.6;}
    80% { opacity: 0.4;}
    100% { opacity: 0; 
    }
}
/*global*/
*{
    font-display: block;
    /*Para não ficar aparecendo um erro sem razão no console*/
}
.face{
    width: 100%;
    height: 100%;
    position: absolute; /*para que as faces fiquem sobrepostas*/
    border-radius: 10px;
    transition:all 1s;
    backface-visibility: hidden;
    background: rgb(136,69,153);
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.back.flipped{
    transform: rotateY(180deg);
   
}
.front{
    transform: rotateY(-180deg);
}
.front.flipped{
    transform: rotateY(0deg);
    
}
.card:hover{
    box-shadow: 0 0 30px #aaa;
}
.face .flipped .match{
    box-shadow: 0 0 10px #0f0;
}
#imgMatchSign{
    position: relative;
    top: 40%;
    left: 40%;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    width: 100px;
    height: 100px;
}
.pair{
  animation-name: fadeIn;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.hide-points-box{
    display:none;
}
.score{
    display:none;
}
.hideMatchSign{
    display:none;
    z-index: 20;
    position:absolute;
}

/*DESKTOP*/
@media(min-width: 1500px){

    #container{
        width: 36rem; 
        height: 32rem;
        top: 30px;
        position: relative;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        
       /* border: 1px solid #000; Visualizar melhor o tamanho do container*/
    }

    .card{
        width: 120px;
        height: 120px;
        position: absolute; 
        border-radius: 10px;
        perspective: 600px; /*profundidade do giro, para nao ficar chapado*/ 
        background:  rgb(136,69,153) ;
        border: 0ch;
    }
    .back{
        object-fit: fill;
    }   
    .b1{
        background: url("../img/desktop/fase1/verso1.png");
    }
    .b2{
        background: url("../img/desktop/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/desktop/fase3/verso3.png");
    }
    /*Botao do menu lateral - especifico jogo*/
    #btn-voltar-d{
        padding-left: 4%;
        padding-top: 1%;
        height: 32px;
    }
    .points-position-game{    
        position: relative;
        filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}
@media(min-width: 1001px) and (max-width: 1499px){ /* telas menores desktop/laptop*/

    #container{
        width: 34rem; 
        height: 32rem;
        top: 10vh;
        left: 20vw;
        position: absolute;
        border-radius: 10px;
        display: flex;
        
       /* border: 1px solid #000; Visualizar melhor o tamanho do container*/
    }

    .card{
        width: 120px;
        height: 120px;
        position: absolute; 
        border-radius: 10px;
        perspective: 600px; /*profundidade do giro*/
        background:  rgb(136,69,153) ;
        border: 0ch;
    }
    .back{
        object-fit: fill;
    }   
    .b1{
        background: url("../img/desktop/fase1/verso1.png");
    }
    .b2{
        background: url("../img/desktop/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/desktop/fase3/verso3.png");
    }
    /*Botao do menu lateral - especifico jogo*/
    #btn-voltar-d{
        padding-left: 4%;
        padding-top: 1%;
        height: 15px;
    }
    .points-position-game{    
        position: relative;
        margin-top: 65vh;
        margin-left: -2%;  
    }
}

/*TABLET*/
@media(min-width: 600px) and (max-width: 1000px){
    #container{
        width: 72vw; 
        height: 58vh;
        top: 0px;
        position: relative;
        margin: 0 auto;
        border-radius: 10px;
    }
    .card{
        width: 120px;
        height: 120px;
        position: absolute; 
        border-radius: 10px;
        perspective: 600px;
        background: rgb(136,69,153);
        border: 0ch;
        z-index: 20;
    }
    .b1{
        background: url("../img/desktop/fase1/verso1.png");
    }
    .b2{

        background: url("../img/desktop/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/desktop/fase3/verso3.png");
    } 
}
/*MOBILE*/
@media(max-width: 599px){ 
    #container{
        width: 350px; 
        height: 650px;
        top: 50px;
        left: 3.7vw;
        position: relative;
        margin: 0 auto;
        border-radius: 10px;
        z-index: 5;
    }
    .card{
        width: 72px;
        height: 72px;
        position: absolute; 
        border-radius: 10px;
        perspective: 600px;
        background:  rgb(136,69,153) ;
        border: 0ch;
        justify-content:center;
    }   
    #points-box{
        position:absolute;
        bottom: 15vh;
    }
    .b1{
        background: url("../img/mobile/fase1/verso1.png");
    }
    .b2{
        background: url("../img/mobile/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/mobile/fase3/verso3.png");
    }   
    .espaco-0-5{
        height: 10px;
    }  
}