
/*DESKTOP*/
#container{
    width: 29vw; /*O tamanho das cartas esta muito pequeno em comparação ao tamanho da tela*/
    height: 58vh;
    top: 30px;
    left: 50px;
    border: 1px solid #000;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}
.card{
    width: 120px;
    height: 120px;
    position: absolute; /*é importante mas porque?*/
    border-radius: 10px;
    /*aqui os cards ficam empilhados, mas preciso distanciar um por um? NAO JAVASCRIPT LINDO*/
    perspective: 600px;
    /*profundidade do giro, para nao ficar chapado*/ 
}
.face{
    width: 100%;
    height: 100%;
    position: absolute; /*para que as faces fiquem sobrepostas*/
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}
.back{
    background: url("../img/verso1.png");
}
.back.flipped{
    transform: rotateY(180deg);
}
.front{
    transform: rotateY(-180deg);
}
.front.flipped{
    transform: rotateY(0deg);
}
.card:hover{
    /*efeito lindo, amei*/
    box-shadow: 0 0 30px #aaa;
}
.face .flipped .match{
    box-shadow: 0 0 10px #0f0;
}
/*MOBILE*/
@media(max-width: 599px){ 
    .padrao-desktop{
        display: none;
    }
}
/*TABLET*/
@media(min-width: 600px) and (max-width: 1000px){
    .padrao-desktop{
        display: none;
    }
}