
/*global*/
*{
    font-display: block;
    /*Para não ficar aparecendo um erro sem razão no console*/
}
.face{
    width: 100%;
    height: 100%;
    position: absolute; /*para que as faces fiquem sobrepostas*/
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.back.flipped{
    transform: rotateY(180deg);
}
.front{
    transform: rotateY(-180deg);
}
.front.flipped{
    transform: rotateY(0deg);
}
.card:hover{
    /*efeito lindo, amei*/
    box-shadow: 0 0 30px #aaa;
}
.face .flipped .match{
    box-shadow: 0 0 10px #0f0;
}
#imgMatchSing{
    position: relative;
    top: 250px;
    transition-property: top, opacity;
    transition-duration: 1.5s;
    opacity: 1;
    z-index: -1;
}

.pair{
    display: none;
}

/*DESKTOP*/
@media(min-width: 1001px){

    #container{
        width: 60vw; /*O tamanho das cartas esta muito pequeno em comparação ao tamanho da tela*/
        height: 76vh;
        top: 24vh;
        left: 16vw;
        position: absolute;
        margin: 0 auto;
        border-radius: 10px;
    }
    .card{
        width: 120px;
        height: 120px;
        position: absolute; /*é importante mas porque?*/
        border-radius: 10px;
        /*aqui os cards ficam empilhados, mas preciso distanciar um por um? NAO JAVASCRIPT LINDO*/
        perspective: 600px;
        /*profundidade do giro, para nao ficar chapado*/ 
    }
    .back{
        object-fit: fill;
    }   
    .b1{
        background: url("../img/fase1/verso1.png");
    }
    .b2{
        background: url("../img/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/fase3/verso3.png");
    }
}
/*TABLET*/
@media(min-width: 600px) and (max-width: 1000px){
    #container{
        width: 60vw; /*O tamanho das cartas esta muito pequeno em comparação ao tamanho da tela*/
        height: 58vh;
        top: 24vh;
        left: 24vw;
        /*border: 1px solid #000;*/
        position: absolute;
        margin: 0 auto;
        border-radius: 10px;
    }
    .card{
        width: 96px;
        height: 96px;
        position: absolute; /*é importante mas porque?*/
        border-radius: 10px;
        /*aqui os cards ficam empilhados, mas preciso distanciar um por um? NAO JAVASCRIPT LINDO*/
        perspective: 600px;
        /*profundidade do giro, para nao ficar chapado*/ 
    }
    .b1{
        background: url("../img/fase1/verso1.png");
    }
    .b2{

        background: url("../img/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/fase3/verso3.png");
    } 
    
}
/*MOBILE*/
@media(max-width: 599px){ 
    #container{
        width: 95vw; /*O tamanho das cartas esta muito pequeno em comparação ao tamanho da tela*/
        height: 58vh;
        top: 24vh;
        left: 16vw;
       /* border: 1px solid #000; */
        position: absolute;
        margin: 0 auto;
        border-radius: 10px;
    }
    .card{
        width: 72px;
        height: 72px;
        position: absolute; 
        border-radius: 10px;
        perspective: 600px;
    }   
    .b1{
        background: url("../img/fase1/verso1.png");
    }
    .b2{
        background: url("../img/fase2/verso2.png");
    }      
    .b3{
        background: url("../img/fase3/verso3.png");
    }   
    
}