/*Desktop version*/
.posicao-sub-2{
    position: absolute;
    left: 25.31%;
    right: 45.16%;
    top: 10.88%;
    bottom: 82.62%;
}
#memoria img{
    padding: absolute;
    width: 120px;
    height: 120px; 
    border-radius: 10px;
}