 /*versão DESKTOP*/
 @media(MIN-width: 1001px){
    .tipoUL{
        list-style-type: none;
        left: 80%;
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: #541663;
        height: 100%; 
        position: absolute; 
        overflow: hidden; 
      }
      .logo-eic-centro{
        position: relative;
        padding-left: 5vw;
      }
      .elem-menu-lateral{
        width: 18,75rem;
      }
      .elem-menu-lateral img{
        padding-left: 2rem;
        float: left;
        margin-right: 32px;
      }
      .elem-menu-lateral p{
        text-align: left;
      }
      .active{
        background-color: rgb(136,69,153); /*trocar pra vh e vw*/
        height: 48px;
        width: 220px;
        left: 10px;
        right: 10px;
        position: relative;
        border-radius: 5px;
    }
}
  /*versão tablet */
  @media(min-width: 600px) and (max-width: 1000px){
    .menu-desktop{
        display:none;
      }
    .ajuste-direita{
        padding-left:24px ; 
      }
    .ajuste-esquerda{
        padding-right:24px ;      
      }
     #logo-nav-sup-desktop{
      width: 24px;
      height:24px;
     }
      #logo-eic-nav-sup-desktop{
        width: 28px;
        height:28px;
      }
 }
 /*versão mobile*/
 @media(max-width: 599px){
    .menu-desktop{
        display:none;
        }
    .ajuste-direita{
      padding-left:24px ; 
    }
    .ajuste-esquerda{
      padding-right:24px ;      
    }
    #logo-nav-sup-desktop{
      width: 24px;
      height:24px;
     }
    #logo-eic-nav-sup-desktop{
      width: 28px;
      height:28px;
    }
 
}