@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Global*/

/*versão mobile*/
@media(max-width: 599px){
  .fundo{
    /*display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
*/
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  } 
  .largura-texto{
      text-align: center;
    /*Arrumar tam maximo de centralizar depois*/
  }
  .nav-botao-voltar{
    position: relative;
    left: 0%;
    right: 93.2%;
    top:0;
  }
  #menu-modal{    
    position: absolute;
    width: 80vw;
    height: 100vh;
    right: 0px;
    top: -5px;
    background: #541663;
    padding:16px;
    justify-content: left;
    z-index: -2;
  }
  .fade-menu-mobile{
      position: absolute;
      width: 20vw;
      height: 100vh;
      right: 80vw;
      top: -5px;
      justify-content: right;
      z-index: -2;
  }
  .touch-surface{
    width: 100vw;
    height:100vh;
    z-index: -2;
  }

  .elem-carta{
    height:120px;
    width: 120px;
    top: 60vh;
  }

  .seta-meio{
    width: 80px;
    height: 80px;
    top:56vh;
  }

.logo-modal{
  padding-top: 5%;
}

/* logo-eic */
.nav-logo-eic{
  position: relative;
  left: 45.63%;
  right: 45.31%;
  top: 0;
}
/* botao-menu */
.nav-botao-menu{
  position: relative;
  left: 93.2%;
  right: 0%;
  top: 0;
}
.nav-elem{
  width: 21px;
  height: 21px;
}
  .p-destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }
  .scroll-bar{
    overflow: auto;
  }
  .mostrar-no-desktop{
    display: none;
  }
  .mostrar-horizontal{
    display: none;
  }
  #modal-sair{
    z-index: -5;
    background: #FFFFFF;
    position: absolute;
    width: 80vw;
    height: 44vh;
    border-radius: 8px;
    left: 8%;
    top: 24%;
  }
}
  
/*versão desktop */
@media (min-width: 1000px){
  .fundo{
    display: flex;
    overflow: hidden;
    width: 80vw;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .menu-mobile{
    display: none;
  }
  #modal-sair{
    z-index: 15;
    background: #FFFFFF;
    position: absolute;
    width: 24vw;
    height: 44vh;
    border-radius: 8px;
    left: 32%;
    top: 24%;
  }
}
 /*versão tablet */
 @media(min-width: 600px) and (max-width: 1000px){

  .logo-eic{
    top: 85%;
    bottom: 5%;
  }
  .alinhamento{
    box-align: left;
  }
  /*modal sair*/
  #modal-sair{
    z-index: -5;
    background: #FFFFFF;
    position: absolute;
    width: 40%;
    height: 28vh;
    border-radius: 8px;
    left: 32%;
    top: 24%;
  }
  .menu-mobile{
    display: flex;
    margin-top: 10vh;
  }

}