/*arrumar os aquivos de estilo porque estão uma bagunça*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Global*/
.btn-close{
  width: 8%;
  height: 7.5%;
  top: 4%;
  right: 4%;
  position: absolute;
  background: url('../img/Vector.png');
  background-repeat: no-repeat;
}
.fonte-modal-sair-destaque{
  font-family:'Luckiest Guy', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #541663;
}
.fonte-modal-sair{
  font-family: 'Roboto', sans-serif;;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.83);
}
.modal-exclamacao{
  position: absolute;
  width: 50%;
  height: 100%;
  left:36%;
  background: url('../img/exclamacao.png');
  background-repeat: no-repeat;
}


/*versão mobile*/
@media(max-width: 599px){
  .fundo{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
  } 
  .largura-texto{
      text-align: center;
    /*Arrumar tam maximo de centralizar depois*/
  }
  .nav-botao-voltar{
    position: relative;
    left: 0%;
    right: 93.2%;
    top:0;
  }
  
  #menu-modal{    
    position: absolute;
    width: 80vw;
    height: 100vh;
    /*left: clamp(-180px,-180px, -160px);*/
    right: 0px;
    top: -5px;
    background: #541663;
    padding:16px;
    justify-content: left;
    z-index: -2;
  }
  .elem-carta{
    height:120px;
    width: 120px;
    top: 60vh;
  }
  .seta-meio{
    width: 80px;
    height: 80px;
    top:56vh;
  }

.logo-modal{
  padding-top: 5%;
}

/* logo-eic */
.nav-logo-eic{
  position: relative;
  left: 45.63%;
  right: 45.31%;
  top: 0;
}
/* botao-menu */
.nav-botao-menu{
  position: relative;
  left: 93.2%;
  right: 0%;
  top: 0;
}
.nav-elem{
  width: 21px;
  height: 21px;
}
  .p-destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }
  .scroll-bar{
    overflow: auto;
  }
 
  .mostrar-no-desktop{
    display: none;
  }
  .mostrar-horizontal{
    display: none;
  }
  #modal-sair{
    z-index: -5;
    background: #FFFFFF;
    position: absolute;
    width: 80vw;
    height: 28vh;
    border-radius: 8px;
    left: 8%;
    top: 24%;
  }

}
  
/*versão desktop */
@media (min-width: 1000px){
  .fundo{
    display: block;
    overflow: hidden;
    width: 80%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
  }

  .menu-mobile{
    display: none;
  }
  #modal-sair{
    z-index: -5;
    background: #FFFFFF;
    position: absolute;
    width: 20vw;
    height: 40vh;
    border-radius: 8px;
    left: 32%;
    top: 24%;
  }

}
 /*versão tablet */
 @media(min-width: 600px) and (max-width: 1000px){

  .logo-eic{
    top: 85%;
    bottom: 5%;
  }
  .alinhamento{
    align: left;
  }
  /*modal sair*/
  #modal-sair{
    z-index: -5;
    background: #FFFFFF;
    position: absolute;
    width: 40%;
    height: 48%;
    border-radius: 8px;
    left: 32%;
    top: 24%;
  }
  

}