/*Global*/
.btn-facil:not(:disabled):not(.disabled) {
  background: #Bb78CC;
}
.btn-medio:not(:disabled):not(.disabled) {
  background: #664F9F;
}
.btn-dificil:not(:disabled):not(.disabled) {
  background: #CB5881;
}

/*versão mobile*/
@media(max-width: 599px){
  .fundo{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
  } 

  .subtitulo-2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 38px;
    font-family: 'Luckiest Guy', cursive; 
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
  }
  p{
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #F0E2F3;
  }
  .largura-texto{
      text-align: center;
    /*Arrumar tam maximo de centralizar depois*/
  }
  .menu-mobile{
    position: relative;
    width: 309px;
    height: 25px;
    left: 24px;
    top: 47px;
  }
.nav-botao-voltar{
  position: relative;
  left: 0%;
  right: 93.2%;
  top:0;
}
/* logo-eic */
.nav-logo-eic{
  position: relative;
  left: 45.63%;
  right: 45.31%;
  top: 0;
}
/* botao-menu */
.nav-botao-menu{
  position: relative;
  left: 93.2%;
  right: 0%;
  top: 0;
}
.nav-elem{
  width: 21px;
  height: 21px;
}
   .menu-desktop{
    display:none;
  }
}
  
/*versão destop */
@media (min-width: 1000px){
  .fundo{
    display: block;
    overflow: hidden;
    width: 80%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
  }

  .subtitulo-2{
      text-align: center;
      color: rgb(255,255,255);
      font-size: 38px;
      font-family: 'Luckiest Guy', cursive; 
      -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
      -webkit-text-stroke-color: #000000;
      -webkit-text-stroke-width: 1px;
  }
  p{  
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #F0E2F3;
  }
  
  ul {
    list-style-type: none;
    left: 80%;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: #541663;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
  }
  
  .fonte-menu-lateral{
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #EEEEEE;   
  }
  .elem-menu-lateral{
  width: 300px;
}
  .elem-menu-lateral img{
    padding-left: 40px;
    float: left;
  }
  .elem-menu-lateral p{
    padding-left: 80px;
    text-align: left;
  }
  .menu-mobile{
    display: none;
  }
  .logo-eic-centro{
    padding-left:40px;
  }
  .espaco-v{
    left:30px
  }
}
 /*versão tablet */
 @media(min-width: 600px) and (max-width: 1000px){
  
  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 92px;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color:#000000;
    -webkit-text-stroke-width: 2px;
  }
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 48px;
  }
  .logo-eic{
    top: 85%;
    bottom: 5%;
  }

  .menu-lateral{
    display:block;
  }
}