/*arrumar os aquivos de estilo porque estão uma bagunça*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Global*/
.btn-facil{
  background: #Bb78CC;
}
.btn-medio {
  background: #664F9F;
}
.btn-dificil {
  background: #CB5881;
}
#modal-sair{
  z-index: -5;
  background: #FFFFFF;
  position: absolute;
  width: 20vw;
  height: 32vh;
  border-radius: 8px;
  left: 32%;
  top: 24%;
}
.btn-close{
  width: 32px;
  height: 32px;
  top: 10px;
  right: -10px;
}
.fonte-modal-sair-destaque{
  font-family:'Luckiest Guy', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #541663;
}
.fonte-modal-sair{
  font-family: 'Roboto', sans-serif;;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.83);
}
.modal-exclamacao{
  width: 48px;
  height: 48px;
}

/*versão mobile*/
@media(max-width: 599px){
  .fundo{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
  } 

  .subtitulo-2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 38px;
    font-family: 'Luckiest Guy', cursive; 
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
  }
  p{
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      color: #F0E2F3;
  }
  .largura-texto{
      text-align: center;
    /*Arrumar tam maximo de centralizar depois*/
  }
  .nav-botao-voltar{
    position: relative;
    left: 0%;
    right: 93.2%;
    top:0;
  }
  
  #menu-modal{    
    position: absolute;
    width: 80vw;
    height: 100vh;
    /*left: clamp(-180px,-180px, -160px);*/
    right: 0px;
    top: -5px;
    background: #541663;
    padding:16px;
    justify-content: left;
    z-index: -2;
  }
  .elem-carta{
    height:120px;
    width: 120px;
    top: 60vh;
  }
  .seta-meio{
    width: 80px;
    height: 80px;
    top:56vh;
  }

.logo-modal{
  padding-top: 5%;
}

/* logo-eic */
.nav-logo-eic{
  position: relative;
  left: 45.63%;
  right: 45.31%;
  top: 0;
}
/* botao-menu */
.nav-botao-menu{
  position: relative;
  left: 93.2%;
  right: 0%;
  top: 0;
}
.nav-elem{
  width: 21px;
  height: 21px;
}
 .menu-desktop{
  display:none;
  }
  .p-destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }
  .scroll-bar{
    overflow: auto;
  }
  .tipoUL{
    list-style-type: none;
    left: 0%;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: #541663;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
  }
  .mostrar-no-desktop{
    display: none;
  }
  .mostrar-horizontal{
    display: none;
  }

}
  
/*versão desktop */
@media (min-width: 1000px){
  .fundo{
    display: block;
    overflow: hidden;
    width: 80%;
    height: 100vh;
    background: rgb(136,69,153);
    text-align: center;
    justify-content: center;
  }

  .subtitulo-2{

      text-align: center;
      color: rgb(255,255,255);
      font-size: 38px;
      font-family: 'Luckiest Guy', cursive; 
      -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
      -webkit-text-stroke-color: #000000;
      -webkit-text-stroke-width: 1px;
      letter-spacing: -0.015em;
  }
  p{  
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      color: #F0E2F3;
  }
  
  .tipoUL {
    list-style-type: none;
    left: 80%;
    margin: 0;
    padding: 0;
    width: 20vw;
    background-color: #541663;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
  }

  .menu-mobile{
    display: none;
  }
  .logo-eic-centro{
    padding-left: 5vw;
  }
  .espaco-v{
    left:30px
  }
  .p-destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }
  .mostrar-vertical{
    display:none;
  }
  .elem-menu-lateral{
    width: 300px;
  }
  .elem-menu-lateral img{
    padding-left: 40px;
    float: left;
  }
  .elem-menu-lateral p{
    padding-left: 80px;
    text-align: left;
  }

}
 /*versão tablet */
 @media(min-width: 600px) and (max-width: 1000px){

  .subtitulo-2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 46px;
    font-family: 'Luckiest Guy', cursive; 
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
  }
  p{  
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F0E2F3;
}
.p-destaque{
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
  
  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 92px;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color:#000000;
    -webkit-text-stroke-width: 2px;
  }
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 48px;
  }
  .logo-eic{
    top: 85%;
    bottom: 5%;
  }
  .menu-desktop{
    display:none;
    }
  .mostrar-no-desktop{
      display: none;
  }
  .mostrar-horizontal{
      display: none;
    }

  .alinhamento{
    align: left;
  }


}