@media(min-width: 1001px){
  .destaque-sobre{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.35rem;
    color: #FFFFFF;
  }
}

  
.fundo{
  display:block;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 80vw;
  height: 100vh;
  background: rgb(136,69,153);
}
 
/*TABLET*/
/*DESKTOP*/