/*mobile-first*/
.fundo{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: rgb(136,69,153);
  text-align: center;
  justify-content: center;
}
.espaco-6{
  /*56px*/
  height: 6%;
}
.espaco-3{
   /*32px*/
  height: 3%;
}
.espaco-1{
  /*32px*/
 height: 8px;
}
.btn:not(:disabled):not(.disabled) {
  width: 198px;
  height: 56px;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  background: #541663;
  border: 4px solid #ffffff;
  border-radius: 10px;
}
.titulo{
  color: rgb(255,255,255);
  font-family: 'Luckiest Guy', cursive; 
  font-size: 52px;
  -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

.subtitulo-t{
  color: rgb(255,255,255);
  font-size: 32px;
  -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}
.bt:active{
  width: 198px;
  height: 56px;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
  background: #541663;
  border: 4px solid #ffffff;
  border-radius: 10px;
}

a{
  color: rgb(255,255,255);
}

.cards-inicial{
  width: 295px;
  height: 88px;
}

.caixa-btns-c{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 0px 0px;
    position: absolute;
    width: 200px;
    height: 120px;
    left: 30vw;
    top: 400px;
  }
  .btn-circ{
    position: static;
    width: 56px;
    height: 56px;
    top: 32px;
    flex: none;
    
  }
  #btn-circ-1{
    left: 0px;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 16px 0px;
  }
  #btn-circ-2{
    left: 72px;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 16px 0px;
  }
  #btn-circ-3{
    left: 144px;
    order: 2;
    align-self: center;
    flex-grow: 0;
    margin: 16px 0px;
  }

/*preciso dar conta dos espaçamentos - alguns - dos botoes na versão de celular*/

/*versão destop */
@media (min-width: 1000px){

  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 92px;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
  }
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 48px;
  }
  .logo-eic{
    top: 85%;
    bottom: 5%;
  }
  .icones-altura{
    /*Aqui também chega o eic p baixo*/
    height: 56px;
  }
  .largura-espaco{
    width: 38vw;
  }

  .cards-inicial{
    width: auto;
    height: auto;
  }

  .caixa-btns-c{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 0px 0px;
    position: absolute;
    width: 200px;
    height: 120px;
    left: 43vw;
    top: 500px;
  }
    
}
 /*versão tablet */
@media(min-width: 600px) and (max-width: 1000px){

  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 92px;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color:#000000;
    -webkit-text-stroke-width: 2px;
  }
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 48px;
  }
  .logo-eic{
    top: 85%;
    bottom: 5%;
  }
  .icones-altura{
    /*Aqui também chega o eic p baixo*/
    height: 56px;
  }
  .largura-espaco{
    width: 38vw;
  }

.alinhamento-botoes{
  align-items: center;
}
  .caixa-btns-c{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px 0px 0px;
    position: absolute;
    width: 200px;
    height: 120px;
    left: 39vw;
    top: 500px;
  }
  .btn-circ{
    position: static;
    width: 56px;
    height: 56px;
    top: 32px;
    flex: none;
    
  }
  #btn-circ-1{
    left: 0px;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 16px 0px;
  }
  #btn-circ-2{
    left: 72px;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 16px 0px;
  }
  #btn-circ-3{
    left: 144px;
    order: 2;
    align-self: center;
    flex-grow: 0;
    margin: 16px 0px;
  }
  .cards-inicial{
    width: auto;
    height: auto;
  }
    
}
