/**/
.display-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fundo{
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background: rgb(136,69,153);
  text-align: center;
  justify-content: center;
}
.espaco-1{
  height: 8px;
  }
.espaco-1-5{
  height: 12px;
}
.espaco-2{
   height: 16px;
  }
.espaco-3{
  height:32px;
}
.espaco-6{
  height: 56px;
}
.espaco-3{
  height:32px;
}
.btn {
  width: 12.375rem;
  height: 3.5rem;
  font-size: 1.25rem;
  font-family: 'Fira Sans', sans-serif;
  background: #541663;
  border: 4px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  line-height: 1.8;
  filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.25));
}
a{
  color: rgb(255,255,255);
}
.btn-facil{
  background: #Bb78CC;
}
.btn-medio {
  background: #664F9F;
}
.btn-dificil {
  background: #CB5881;
}
/*MOBILE*/
@media(max-width: 599px){
  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 3.5rem;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    line-height: 3.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .subtitulo-tam{
    color: rgb(255,255,255);
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 600;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
  }
  .subtitulo-2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 2.375rem;
    line-height: 2.5rem;
    font-family: 'Luckiest Guy', cursive; 
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p{
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.3rem;
      text-align: left;
      color: #F0E2F3;
      text-align: center;
  }
  .destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.35rem;
    text-align: center;
    color: #FFFFFF;
  }
}

/*TABLET */ 
@media(min-width: 600px) and (max-width: 1000px){

  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 5.75rem; /*92px*/
    line-height:  5.75rem;
    font-weight: 400;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-tam{
    color: rgb(255,255,255);
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 600;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 2.875rem;
    line-height: 3.4rem;
    font-family: 'Luckiest Guy', cursive; 
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p{  
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #F0E2F3;
}
  .destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}
}
/*versão DESKTOP*/

@media (min-width: 1001px){
  .titulo{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 5.75rem; /*92px*/
    line-height:  5.75rem;
    font-weight: 400;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-t{
    color: rgb(255,255,255);
    font-size: 3rem; /*48px*/
    line-height: 3rem;
    font-weight: 700;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-tam{
    color: rgb(255,255,255);
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 600;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-2{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 2.375rem;
    line-height: 2.8rem;
    font-family: 'Luckiest Guy', cursive; 
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  p{  
      font-family: Fira Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.35rem;
      text-align: center;
      color: #F0E2F3;
  }
  .destaque{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
  }
}
 
