/*Global*/
*{
  overflow: hidden;
}
.btn-next {
    background:  #541663;;
  }
.btn-playAgain {
  background: #301A67;
}
.points-box{
  position: relative;
  width: 156px;
  height: 56px;
  background: #301A67;
  border-radius: 10px;
}
.medal{
    bottom: 20px;
    position: relative;
}
p.points{
  margin-top: 5px;
  line-height: 1.8;
}
#points, .medal{
  display: inline-block;
}
.hideProx{
  display:initial;
}