/*GLOBAL*/
*{
  overflow: hidden;
}
.btn-next {
    background:  #541663;
  }
.btn-playAgain {
  background: #301A67;
  opacity:0.6;
}
.points-box{
  width: 9.75rem;
  height: 3.5rem;
  background: #301A67;
  border-radius: 10px;
}
p.points{
  margin-top: 5px;
  line-height: 1.8;
}
#points, .medal{
  display: inline-block;
}
.hideProx{
  display:initial;
}


/*DESKTOP*/
@media(min-width: 1001px){

  .titulo-vitoria{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 3.25rem;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    line-height: 3.7rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-vitoria{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: #F0E2F3;
  }
  
  .points-position-game{
    position: absolute;
    left:51.8rem;
    top: 37.0rem;
    filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.25));
}
  .medal{
    bottom: 1.5rem;
    position: relative;
  }
}
/*TABLET*/
@media(min-width: 600px) and (max-width: 1000px){

  .titulo-vitoria{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 2.875rem;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    line-height: 3.25rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-vitoria{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: #F0E2F3;
  }

   /*Mesmo que display-center para manter a posição no tablet e mobile*/
   .points-position-game{
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .medal{
    bottom: 2rem;
    position: relative;
  }
}
/*MOBILE*/
@media(max-width: 599px){ 

  .titulo-vitoria{
    color: rgb(255,255,255);
    font-family: 'Luckiest Guy', cursive; 
    font-size: 2.375rem;
    -webkit-text-fill-color:rgba(255, 255, 255, 0.9) ;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: -0.015em;
    line-height: 2.65rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subtitulo-vitoria{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    color: #F0E2F3;
  }

   .points-position-game{
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .medal{
    bottom: 1.5rem;
    position: relative;
  }
}