/*Global*/

.btn-next {
    background:  #541663;;
  }
  .btn-playAgain {
    background: #301A67;
  }
  .points-box{
    position: relative;
    width: 156px;
    height: 56px;
    background: #301A67;
    border-radius: 10px;
  }
  .medal{
      top: 10px;
      position: relative;
  }
  p.points{
    top:10px;
  }
  #points, .medal{
    display: inline-block;
  }